<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Rachel's Launchpad</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script type="text/javascript">
	$(document).ready(function(){
    	$('[data-toggle="tooltip"]').tooltip({
    	    placement : 'bottom'
  	  });
	});
	</script>
	<script type="text/javascript" src="script.js"></script>
</head>
<body>
	<h1>Hi, hope you're having a great day ;)</h1>
	<div class="robotanimation"></div>
	<hr/ color="#f2f2f2">
	<div class="launchLinks">
		<a href="https://w3.ibm.com/" target="_blank" data-toggle="tooltip" title="Your IBM"><div class="Ibm-logo100" id="tooltip1"></div></a>
		<a href="https://www.ibm.com/design/thinking/page/chapters" target="_blank" data-toggle="tooltip" title="Design Thinking Chapters"><div class="DesignThinking-logo100" id="tooltip2"></div></a>
		<a href="https://mail.notes.na.collabserv.com/verse?" target="_blank" data-toggle="tooltip" title="Verse"><div class="Verse-logo100" id="tooltip3"></div></a>
		<a href="https://ibm.enterprise.slack.com/" target="_blank" data-toggle="tooltip" title="Slack"><div class="Slack-logo100" id="tooltip4"></div></a>
		<a href="https://ibm.invisionapp.com/d/main#/projects" target="_blank" data-toggle="tooltip" title="Invision"><div class="Invision-logo100" id="tooltip5"></div></a>
		<a href="https://ibm.ent.box.com" target="_blank" data-toggle="tooltip" title="Box"><div class="Box-logo100" id="tooltip6"></div></a>
		<a href="https://rtc-zsw.rchland.ibm.com:18443/ccm/web/projects" target="_blank" data-toggle="tooltip" title="RTC"><div class="Rtc-logo100" id="tooltip7"></div></a>
		<a href="https://cloud.ibm.com" target="_blank" data-toggle="tooltip" title="IBM Cloud"><div class="Bluemix-logo100" id="tooltip8"></div></a>
		<a href="https://github.ibm.com/" target="_blank" data-toggle="tooltip" title="Github"><div class="Github-logo100" id="tooltip9"></div></a>
		<a href="https://jsw.ibm.com" target="_blank" data-toggle="tooltip" title="Jira"><div class="Jira-logo100" id="tooltip10"></div></a>
		<a href="https://app.mural.co" target="_blank" data-toggle="tooltip" title="Mural"><div class="Mural-logo100" id="tooltip11"></div></a>
		<a href="https://yourlearning.ibm.com/" target="_blank" data-toggle="tooltip" title="Your Learning"><div class="YourLearning-logo100" id="tooltip12"></div></a>
	</div>	
	<div class="footer">
		<h2>Don't forget to take breaks throughout the day.</h2>
		<h3>Made with love by Rachel San</h3>
	</div>
</body>
</html>